nendo==0.2.1
nendo_plugin_classify_core==0.2.6
nendo_plugin_quantize_core==0.2.6
nendo_plugin_stemify_demucs==0.1.2
nendo_plugin_loopify==0.1.6
tensorflow
git+https://github.com/CPJKU/madmom.git@0551aa8
yt_dlp>=2023.12.30
